{
	email bhowmickshresht@gmail.com
	auto_https disable_redirects
	default_bind {$PUBLIC_BIND_IP}
}

http://jellyfin.tetraslam.world,
http://seerr.tetraslam.world,
http://qbittorrent.tetraslam.world,
http://prowlarr.tetraslam.world,
http://sonarr.tetraslam.world,
http://radarr.tetraslam.world,
http://bazarr.tetraslam.world,
http://manga.tetraslam.world,
http://pinchflat.tetraslam.world,
http://searxng.tetraslam.world,
http://shlink.tetraslam.world,
http://auth.tetraslam.world,
http://kuma-api.tetraslam.world,
http://link.tetraslam.world,
http://i.tetraslam.world {
	redir https://{host}{uri} permanent
}

(security) {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}
}

(private) {
	import security
	forward_auth 127.0.0.1:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
	}
}

jellyfin.tetraslam.world {
	import security
	reverse_proxy 127.0.0.1:8096
}

seerr.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:5055
}

qbittorrent.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:8081
}

prowlarr.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:9696
}

sonarr.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:8989
}

radarr.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:7878
}

bazarr.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:6767
}

manga.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:4567
}

pinchflat.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:8945
}

searxng.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:8888
}

shlink.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:8086
}

auth.tetraslam.world {
	import security
	reverse_proxy 127.0.0.1:9091
}

kuma-api.tetraslam.world {
	import security

	@status path /api/status-page/*
	handle @status {
		reverse_proxy 127.0.0.1:3002
	}

	respond 404
}

link.tetraslam.world {
	import security
	reverse_proxy 127.0.0.1:8085
}

i.tetraslam.world {
	import security
	reverse_proxy 127.0.0.1:3200
}
