{
	email bhowmickshresht@gmail.com
	auto_https disable_redirects
	default_bind {$PUBLIC_BIND_IP}
}

http://jellyfin.tetraslam.world,
http://qbittorrent.tetraslam.world,
http://prowlarr.tetraslam.world,
http://sonarr.tetraslam.world,
http://radarr.tetraslam.world,
http://pinchflat.tetraslam.world,
http://searxng.tetraslam.world,
http://shlink.tetraslam.world,
http://link.tetraslam.world,
http://i.tetraslam.world {
	redir https://{host}{uri} permanent
}

(security) {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}
}

(private) {
	import security
	basic_auth {
		{$PUBLIC_USER} {$PUBLIC_PASSWORD_HASH}
	}
}

jellyfin.tetraslam.world {
	import security
	reverse_proxy 127.0.0.1:8096
}

qbittorrent.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:8081
}

prowlarr.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:9696
}

sonarr.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:8989
}

radarr.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:7878
}

pinchflat.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:8945
}

searxng.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:8888
}

shlink.tetraslam.world {
	import private
	reverse_proxy 127.0.0.1:8086
}

link.tetraslam.world {
	import security
	reverse_proxy 127.0.0.1:8085
}

i.tetraslam.world {
	import security
	reverse_proxy 127.0.0.1:3200
}
